# examples:
#   periodic_cleanup:
#     class: CleanSoftDeletedRecordsJob
#     queue: background
#     args: [ 1000, { batch_size: 500 } ]
#     schedule: every hour
#   periodic_cleanup_with_command:
#     command: "SoftDeletedRecord.due.delete_all"
#     priority: 2
#     schedule: at 5am every day

production:
  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12
  remove_renew_expired_jobs:
    command: "RenewExpiredJob.remove_expired_jobs"
    schedule: "0 3 * * 1-5"
  mark_finished_tutorings_job:
    class: Tutorings::MarkFinishedTutoringsJob
    queue: default
    schedule: every hour at minute 12

staging:
  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12
  remove_renew_expired_jobs:
    command: "RenewExpiredJob.remove_expired_jobs"
    schedule: "0 3 * * 1-5"
  mark_finished_tutorings_job:
    class: Tutorings::MarkFinishedTutoringsJob
    queue: default
    schedule: every hour at minute 12